<div class="page">
    <mat-card class="mat-primary mat-toolbar">
        <mat-card-title>Therapy
            <span fxFlex>&nbsp;</span>
            <button mat-icon-button routerLink="/home">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle *ngIf="dataSource.list.length === 0">
            Click to start your first therapy plan!
        </mat-card-subtitle>
        <mat-card-content *ngIf="dataSource.list.length > 0">
            <mat-table #table [dataSource]="dataSource" matSort>   
                <ng-container matColumnDef="hasStarted">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Started </mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                        <mat-checkbox [checked]="row.hasStarted" disabled="disabled"></mat-checkbox>
                    </mat-cell>
                </ng-container>
                    
                <ng-container matColumnDef="patient">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Patient </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.patient.lastName}} {{row.patient.firstName}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="open(row);"></mat-row>
            </mat-table>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="create()">
            <mat-icon>create</mat-icon>
                New
            </button>
        </mat-card-actions>
    </mat-card> 
</div>
