<div class="page">
    <mat-card class="mat-primary mat-toolbar">
        <mat-card-title>Invite patient
           <span fxFlex>&nbsp;</span>
            <button mat-icon-button (click)="back()">
            <mat-icon>close</mat-icon>
            </button>
        </mat-card-title>
    </mat-card>
  <mat-card>
    <mat-card-content fxLayout="column">
      <span>Send the following link to your patient:</span>
      <span>{{url}}</span>
      <mat-error *ngIf="unexpectedError">An unexpected error occured.</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" type="submit"
        (click)="back()">
        <mat-icon>chevron_left</mat-icon>
        Ok
      </button>
    </mat-card-actions>
  </mat-card>
</div>
    