<mat-card class="page">
    <mat-card-title>
        Hi there!
    </mat-card-title>
    <mat-card-subtitle>
      Welcome to tele-FON.
    </mat-card-subtitle>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
              <mat-icon matListIcon>perm_identity</mat-icon>
              <h4 matLine>Log in if you already have an account</h4>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>create</mat-icon>
              <h4 matLine>If you are a therapist, you can create a new account!</h4>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
  </mat-card>