<mat-card>
  <mat-card-subtitle *ngIf="dataSource.list.length === 0 && allowAdd">
    Click to add the first assignment!
  </mat-card-subtitle>
  <mat-card-content *ngIf="dataSource.list.length > 0">
      <mat-table #table [dataSource]="dataSource" matSort>   

          <ng-container matColumnDef="order">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Order </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.order}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="exercise">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Exercise </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.exercise.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="progress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <mat-progress-bar color="primary" [value]="row.progress">
              </mat-progress-bar>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="open(row);"></mat-row>
        </mat-table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="create()" *ngIf="allowAdd">
      <mat-icon>create</mat-icon>
        New
    </button>
  </mat-card-actions>
</mat-card>