<div class="page">
  <mat-card class="mat-primary mat-toolbar">
      <mat-card-title>Info
          <span fxFlex>&nbsp;</span>
          <button mat-icon-button (click)="back()">
          <mat-icon>close</mat-icon>
          </button>
      </mat-card-title>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Stadhuis
    </mat-card-title>
    <mat-card-subtitle>
      9 Maart 2018
    </mat-card-subtitle>
    <mat-card-content>
        <ul>
            <li>
              <b>JA-woord</b> van 9h15 tot 9h25
            </li>
            <li>
              Stadhuis Gent
            </li>
        </ul>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Ceremonie en Feest
    </mat-card-title>
    <mat-card-subtitle>
        10 Maart 2018
    </mat-card-subtitle>
    <mat-card-content>
      <ul>
        <li>
          <b>Vrijzinnige ceremonie</b> om 16h30
        </li>
        <li>
          <b>Recepie</b> om 17h30
        </li>
        <li>
          <b>Feest</b> om 19h30
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Locatie
    </mat-card-title>
    <mat-card-content>
      <p>Feestzaal Ter Eeste</p>
      <p>Spanjestraat 133, 8800 Roeselare</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2513.792911496096!2d3.134816515424121!3d50.94604275941215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c336744da93a57%3A0xacac5414d3b1ee3e!2sFeestzaal+Ter+Eeste!5e0!3m2!1sen!2sbe!4v1516009677088" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>
  <mat-card>
      <mat-card-title>
        Vrijblijvende cadeautip <mat-icon>mail_outline</mat-icon>
      </mat-card-title>
      <mat-card-content>
          <ul>
              <li>
                <b>Euro</b>: BE48 7360 0495 3027
              </li>
              <li>
                <b>Ether</b>: 0x774674721019061a89fCD312e8040C0Fe67613ce
              </li>
          </ul>
      </mat-card-content>
    </mat-card>
</div>
