<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <button mat-mini-fab color="primary" routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <span>Tine en Mathias</span>
  <span fxFlex></span>
  <button mat-button routerLink="/info">
    <mat-icon>info_outline</mat-icon>
    Info
  </button>
  <button mat-button routerLink="/register">
      <mat-icon>create</mat-icon>
    Aanwezigheid
  </button>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center start">
  <router-outlet></router-outlet>
</div>