<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span fxFlex></span>
  <div *ngIf="user !== null">
    <button mat-button routerLink="/exercises">
      <mat-icon>record_voice_over</mat-icon>
      Exercises
    </button>
    <button mat-button routerLink="/patients">
        <mat-icon>accessibility</mat-icon>
      Patients
    </button>
    <button mat-button routerLink="/therapies">
        <mat-icon>event</mat-icon>
      Therapy
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      {{user.firstName}} {{user.lastName}}
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
          My Profile
        </button>
      <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          Log Out
        </button>
      </mat-menu>
  </div>
  <div *ngIf="user === null">
      <button mat-button routerLink="/login">
        <mat-icon>perm_identity</mat-icon>
        Log in
      </button>
      <button mat-button routerLink="/register">
          <mat-icon>create</mat-icon>
        Register
      </button>
  </div>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center start">
  <router-outlet></router-outlet>
</div>