<div class="page">
    <mat-card class="mat-primary mat-toolbar">
        <mat-card-title>Therapy details
           <span fxFlex>&nbsp;</span>
            <button mat-icon-button (click)="back()">
            <mat-icon>close</mat-icon>
            </button>
        </mat-card-title>
    </mat-card>
  <mat-tab-group>
    <mat-tab label="Details">
        <form [formGroup]="therapyForm" #form>
            <mat-card>
              <mat-card-content fxLayout="column">
                <mat-form-field>
                  <mat-select placeholder="Patient" formControlName="patient" required>
                    <mat-option *ngFor="let patient of patients" [value]="patient._id">{{patient.lastName}} {{patient.firstName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="therapyForm.controls['patient'].hasError('required')">Patient is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Title" [(ngModel)]="therapy.title" 
                    required formControlName="title" autocomplete="off">
                  <mat-error *ngIf="therapyForm.controls['title'].hasError('required')">Title is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Description" [(ngModel)]="therapy.description" 
                    required formControlName="description" autocomplete="off">
                  <mat-error *ngIf="therapyForm.controls['description'].hasError('required')">Description is required.</mat-error>
                </mat-form-field>
                <mat-error *ngIf="unexpectedError">An unexpected error occured.</mat-error>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button color="primary" type="submit"
                  (click)="save(form)"
                  [disabled]="!therapyForm.valid || !therapyForm.dirty">
                  <mat-icon>save</mat-icon>
                  Save
                </button>
                <button mat-button color="warn" *ngIf="therapy._id !== undefined"
                  type="button" (click)="delete()" >
                  <mat-icon>delete</mat-icon>
                  Delete
                </button>
              </mat-card-actions>
            </mat-card>
          </form>
    </mat-tab>
    <mat-tab label="Assignments" *ngIf="therapy._id !== undefined">
      <app-assignment-overview [therapyId]="therapy._id"></app-assignment-overview>
    </mat-tab>
  </mat-tab-group>
</div>