<div class="page">
  <mat-card class="mat-primary mat-toolbar">
      <mat-card-title>Aanwezigheid
          <span fxFlex>&nbsp;</span>
          <button mat-icon-button (click)="back()">
          <mat-icon>close</mat-icon>
          </button>
      </mat-card-title>
  </mat-card>
  <mat-card>
    <!-- <mat-card-subtitle>
      Fill in the fields below to create an account.
    </mat-card-subtitle> -->
    <mat-card-content *ngIf="!saved">
      <form [formGroup]="registerForm" fxLayout="column" fxLayoutGap="5px" #form (ngSubmit)="save(form)">
        <mat-form-field>
          <input matInput placeholder="namen" [(ngModel)]="user.name" formControlName="name" 
            required autocomplete="off">
          <mat-error *ngIf="registerForm.controls['name'].hasError('required')">Dit veld is verplicht.</mat-error>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="user.ceremonie"
        [disabled]="user.cantMakeIt"
        [ngModelOptions]="{standalone: true}" (change)="check()">
            aanwezig ceremonie om 16:30
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="user.receptie" *ngIf="!showFeest"
        [disabled]="user.cantMakeIt" [ngModelOptions]="{standalone: true}" (change)="check()">
          aanwezig receptie van 17:30 tot 19:30
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="user.feest" *ngIf="showFeest"
        [disabled]="user.cantMakeIt" [ngModelOptions]="{standalone: true}" (change)="check()">
          aanwezig receptie en avondfeest vanaf 17:30
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="user.cantMakeIt" [ngModelOptions]="{standalone: true}" (change)="check()">
            niet aanwezig
        </mat-checkbox>
        <mat-form-field *ngIf="showFeest">
            <textarea matInput placeholder="voedingsrestricties (vegetariër, allergieën, ...)"
            formControlName="food" matTextareaAutosize [(ngModel)]="user.food">
            </textarea>
        </mat-form-field>
        <mat-form-field *ngIf="showFeest">
            <textarea matInput placeholder="mijn favoriete dansplaten" matTextareaAutosize
            formControlName="songs"  [(ngModel)]="user.songs">
            </textarea>
        </mat-form-field>
        <button mat-raised-button color="primary"
          [disabled]="!registerForm.valid || !oneChecked" type="submit">Versturen</button>
      </form>
    </mat-card-content>
    <mat-card-content *ngIf="saved">
      <h1 mat-title>Bedankt!</h1>
      <p>Uw reactie werd opgeslagen.</p>
    </mat-card-content>
    <mat-card-content *ngIf="error">
      <h1 mat-title>Oeps!</h1>
      <mat-error>Er ging iets fout bij het opslaan van je reactie! Geef je ons een seintje? (+32496062388)</mat-error>
    </mat-card-content>
  </mat-card>
</div>
