<div class="page">
  <mat-card class="mat-primary mat-toolbar">
      <mat-card-title>Aanwezigheid
          <!-- <span fxFlex>&nbsp;</span>
          <button mat-icon-button (click)="back()">
          <mat-icon>close</mat-icon>
          </button> -->
      </mat-card-title>
  </mat-card>
  <mat-card>
    <!-- <mat-card-subtitle>
      Fill in the fields below to create an account.
    </mat-card-subtitle> -->
    <mat-card-content>
      <form [formGroup]="registerForm" fxLayout="column" #form (ngSubmit)="save(form)">
        <mat-form-field>
          <input matInput placeholder="Namen" [(ngModel)]="user.name" formControlName="name" 
            required autocomplete="off">
          <mat-error *ngIf="registerForm.controls['name'].hasError('required')">Dit veld is verplicht.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Personen" [(ngModel)]="user.persons" formControlName="persons" 
              required autocomplete="off" type="number">
            <mat-error *ngIf="registerForm.controls['persons'].hasError('required')">Dit veld is verplicht.</mat-error>
          </mat-form-field>
        <!-- <mat-form-field>
          <input matInput placeholder="Aantal personen" [(ngModel)]="user.firstName" 
            required formControlName="firstName" autocomplete="off">
          <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">First name is required.</mat-error>
        </mat-form-field> -->
        
        <button mat-raised-button color="primary"
          [disabled]="!registerForm.valid" type="submit">Versturen</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
